body {
  background-color: #68bc49;
}

table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-top: 150px;
  padding-right: 5px;
  color: white;
  font-family:;
  font-size: 130px;
  font-weight: bold;
}

.bacon-wrap {
  width: 800px;
  margin: 12% 33%;
}

#kudos-form {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

#content > table > tbody > tr:nth-child(1) > td:nth-child(2) {
  font-size: 48px;
}

#content > table > tbody > tr:nth-child(1) > td:nth-child(2)::before {
  content: "- ";
  float: left;
}

#content > table > tbody > tr:nth-child(2) > td:nth-child(2) {
  font-size: 48px;
}

#content > table > tbody > tr:nth-child(2) > td:nth-child(2)::before {
  content: "- ";
  float: left;
}

/*
#content > table > tbody > tr:nth-child(2) > td:nth-child(2) {
  font-size: 2.5em;
}
#content > table > tbody > tr:nth-child(2) > td:nth-child(2)::before {
  content: "- ";
}

#content > table > tbody > tr:nth-child(3) > td:nth-child(2) {
  font-size: 2.5em;
}
#content > table > tbody > tr:nth-child(3) > td:nth-child(2)::before {
  content: "- ";
}

#content > table > tbody > tr:nth-child(4) > td:nth-child(2) {
  font-size: 2.5em;
}
#content > table > tbody > tr:nth-child(4) > td:nth-child(2)::before {
  content: "- ";
}
*/
